# --- Arduino ---
*.hex
*.elf
*.eep
*.bin
*.map
*.d
*.o
*.a
*.lst

# Arduino IDE / CLI build folders
build/
**/build/

# --- .NET / Visual Studio / VS Code ---
**/bin/
**/obj/
.vs/
**/.vs/

# User-specific / IDE files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
.DS_Store
